.add-product{
    height: 450px;
    display: flex;
    background: blue;
    width: 400px;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    padding: 20px;
    color: white;
    margin-top: 5rem;
}